.navbar {
    background-color: rgba(var(--dark-color), 1) !important;
    height: 86px;
    border-bottom: 1px solid rgba(var(--light-color), 0.12);
}

.navbar .navbar-brand {
    transition: var(--transition-duration);
}

.navbar .navbar-brand:hover {
    opacity: 0.72;
}

.navbar .nav-link {
    color: rgba(var(--light-color), 0.52);
    font-size: 0.95rem;
    transition: var(--transition-duration);
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative;
    overflow: hidden;
}

.navbar .nav-link::before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(var(--light-color), 1);
    position: absolute;
    bottom: 0;
    left: -60%;
    border-radius: 9999px;
    transform: translate(-50%);
    transition: var(--transition-duration);
}

.navbar .nav-link.active::before,
.navbar .nav-link:hover::before {
    left: 50%;
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(var(--light-color), 1);
    position: absolute;
    bottom: 0;
    border-radius: 9999px;
    transform: translate(-50%);
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: rgba(var(--light-color), 1);
}

@media (max-width: 767.98px) {
    .navbar-desktop {
        display: none;
    }
}