section.cta {
    background-color: rgba(var(--light-color), 0.02);
    border: 1px solid rgba(var(--light-color), 0.12);
    border-radius: 32px;
    padding: 72px 0;
    overflow: hidden;
}

section.cta .headline {
    margin-bottom: 22px;
}

section.cta .paragraph {
    width: 100%;
    margin-bottom: 42px;
}

section.cta .style {
    position: absolute;
    width: 200%;
    height: 200%;
    background-color: rgba(var(--light-color), 0.01);
    top: 0;
    left: 30%;
    rotate: -45deg;
    transform: translateY(-50%);
}

@media (min-width: 1200px) {
    section.cta .paragraph {
        width: 75%;
    }
}

@media (max-width: 1399.98px) {
    section.cta .style {
        left: 45%;
    }
}

@media (max-width: 1199.98px) {
    section.cta .style {
        left: 60%;
    }
}

@media (max-width: 991.98px) {
    section.cta .style {
        left: 90%;
        top: 50%;
    }
}

@media (max-width: 767.98px) {
    section.cta {
        padding: 52px 0;
    }
}