.card-category {
    outline: none;
    stroke: none;
    padding: 32px;
    border-radius: 22px;
    background-color: var(--bg-gradient-color);
    background-image: var(--gradient-color);
    border: 1px solid rgba(var(--light-color), 0.12);
    text-align: start;
}

.card-category:hover {
    border: 1px solid rgba(var(--light-color), 1);
}

.card-category .card-headline {
    font-size: 1.5rem;
    font-family: var(--urbanist-semibold) !important;
    margin-bottom: 12px;
}

.card-category .card-description {
    font-size: 0.913rem;
    color: rgba(var(--light-color), 0.52);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
            line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 32px;
}

.card-category .following-wrapper,
.card-category .mentor-wrapper {
    gap: 12px;
}

.card-category .following-icon,
.card-category .mentor-icon {
    width: 32px;
    height: 32px;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 3px;
}

.card-category .following-value,
.card-category .mentor-value {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.72);
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: -42px !important;
    display: flex;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 100% !important;
    margin: 0 !important;
    border-radius: 1px !important;
    background-color: rgba(var(--light-color), 0.08);
}

.swiper-pagination-bullet-active {
    background-color: rgba(var(--light-color), 1) !important;
}

@media (max-width: 767.98px) {
    .card-category .card-headline {
        font-size: 1.375rem;
        margin-bottom: 8px;
    }

    .card-category {
        padding: 26px;
    }
}